<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="FileLocation" value="D:\Test\Input" />
    <add key="FileCreateFolder" value="D:\Test\Output" />
    <add key="LimitLineSize" value="100000" />
    <add key="CommitAfter" value="5000" />
    <add key="Delimiter" value="INSERT" />
    <add key="AddStringEOF" value="commit;" />

  </appSettings>
</configuration>